*{
    background-color: rgb(11, 94, 99);
    
}



#inputDiv{
    display: block;
    text-align: center;
}

.icons{
    width: 150px;
    border: 2px solid rgb(11, 94, 99);
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

#click-button{
    width: 70px;
    background-color: lightblue;
}

.icons p{
    background-color: black;
}
#iconContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    background-color: black;
   
 }

 #weatherContainer {
    border: 2px solid black;

    border-radius: 15px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
 }
img{
   width: 120px;
   background-color: black;
 }